Source: rust-event-listener
Section: rust
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native (>= 1.36) <!nocheck>,
 libstd-rust-dev <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Darren Chang <darrenchang951@gmail.com>
Standards-Version: 4.7.3
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/event-listener]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/event-listener
Homepage: https://github.com/smol-rs/event-listener
X-Cargo-Crate: event-listener
X-Cargo-Crate-Version: 2.5.3

Package: librust-event-listener-2.5-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends}
Provides:
 librust-event-listener-2.5-dev (= ${binary:Version}),
 librust-event-listener-2.5+default-dev (= ${binary:Version}),
 librust-event-listener-2.5.3-dev (= ${binary:Version}),
 librust-event-listener-2.5.3+default-dev (= ${binary:Version})
Description: Notify async tasks or threads - Rust source code
 Source code for Debianized Rust crate "event-listener"
