Source: rust-rand-core
Section: rust
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Darren Chang <darrenchang951@gmail.com>
Standards-Version: 4.7.3
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/rand-core]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/rand-core
Homepage: https://rust-random.github.io/book
X-Cargo-Crate: rand_core
X-Cargo-Crate-Version: 0.6.4

Package: librust-rand-core-0.6-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-getrandom-0.2+default-dev,
 librust-getrandom-0.2+std-dev,
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev
Provides:
 librust-rand-core-0.6-dev (= ${binary:Version}),
 librust-rand-core-0.6+alloc-dev (= ${binary:Version}),
 librust-rand-core-0.6+default-dev (= ${binary:Version}),
 librust-rand-core-0.6+getrandom-dev (= ${binary:Version}),
 librust-rand-core-0.6+serde-dev (= ${binary:Version}),
 librust-rand-core-0.6+serde1-dev (= ${binary:Version}),
 librust-rand-core-0.6+std-dev (= ${binary:Version}),
 librust-rand-core-0.6.4-dev (= ${binary:Version}),
 librust-rand-core-0.6.4+alloc-dev (= ${binary:Version}),
 librust-rand-core-0.6.4+default-dev (= ${binary:Version}),
 librust-rand-core-0.6.4+getrandom-dev (= ${binary:Version}),
 librust-rand-core-0.6.4+serde-dev (= ${binary:Version}),
 librust-rand-core-0.6.4+serde1-dev (= ${binary:Version}),
 librust-rand-core-0.6.4+std-dev (= ${binary:Version})
Description: Core random number generator traits and tools for implementation - Rust source code
 Source code for Debianized Rust crate "rand_core"
