Source: rust-libm
Section: rust
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Darren Chang <darrenchang951@gmail.com>
Standards-Version: 4.7.3
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/libm]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/libm
Homepage: https://github.com/rust-lang-nursery/libm
X-Cargo-Crate: libm
X-Cargo-Crate-Version: 0.1.4

Package: librust-libm-0.1-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-rand-0.6+default-dev (>= 0.6.5)
Provides:
 librust-libm-0.1-dev (= ${binary:Version}),
 librust-libm-0.1+checked-dev (= ${binary:Version}),
 librust-libm-0.1+default-dev (= ${binary:Version}),
 librust-libm-0.1+musl-reference-tests-dev (= ${binary:Version}),
 librust-libm-0.1+rand-dev (= ${binary:Version}),
 librust-libm-0.1+stable-dev (= ${binary:Version}),
 librust-libm-0.1.4-dev (= ${binary:Version}),
 librust-libm-0.1.4+checked-dev (= ${binary:Version}),
 librust-libm-0.1.4+default-dev (= ${binary:Version}),
 librust-libm-0.1.4+musl-reference-tests-dev (= ${binary:Version}),
 librust-libm-0.1.4+rand-dev (= ${binary:Version}),
 librust-libm-0.1.4+stable-dev (= ${binary:Version})
Description: Libm in pure Rust - Rust source code
 Source code for Debianized Rust crate "libm"
