Source: rust-quick-error
Section: rust
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Darren Chang <darrenchang951@gmail.com>
Standards-Version: 4.7.3
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/quick-error]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/quick-error
Homepage: http://github.com/tailhook/quick-error
X-Cargo-Crate: quick-error
X-Cargo-Crate-Version: 1.2.3

Package: librust-quick-error-1-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends}
Provides:
 librust-quick-error-1-dev (= ${binary:Version}),
 librust-quick-error-1+default-dev (= ${binary:Version}),
 librust-quick-error-1.2-dev (= ${binary:Version}),
 librust-quick-error-1.2+default-dev (= ${binary:Version}),
 librust-quick-error-1.2.3-dev (= ${binary:Version}),
 librust-quick-error-1.2.3+default-dev (= ${binary:Version})
Description: Macro which makes error types pleasant to write - Rust source code
 Source code for Debianized Rust crate "quick-error"
