Source: rust-nalgebra
Section: rust
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native (>= 1.85.0) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-approx-0.5+std-dev <!nocheck>,
 librust-approx-0.5-dev <!nocheck>,
 librust-glam-0.30+std-dev <!nocheck>,
 librust-nalgebra-macros-0.3+default-dev <!nocheck>,
 librust-num-complex-0.4+std-dev <!nocheck>,
 librust-num-complex-0.4-dev <!nocheck>,
 librust-num-rational-0.4+std-dev <!nocheck>,
 librust-num-rational-0.4-dev <!nocheck>,
 librust-num-traits-0.2+std-dev <!nocheck>,
 librust-num-traits-0.2-dev <!nocheck>,
 librust-simba-0.9+std-dev <!nocheck>,
 librust-simba-0.9-dev <!nocheck>,
 librust-typenum-1+default-dev (>= 1.12) <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Matthias Geiger <werdahias@debian.org>
Standards-Version: 4.7.3
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/nalgebra]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/nalgebra
Homepage: https://nalgebra.rs
X-Cargo-Crate: nalgebra
X-Cargo-Crate-Version: 0.34.1

Package: librust-nalgebra-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-alga-0.9-dev,
 librust-approx-0.5+num-complex-dev,
 librust-approx-0.5+std-dev,
 librust-approx-0.5-dev,
 librust-bytemuck-1+default-dev (>= 1.5),
 librust-defmt-1+default-dev (>= 1.0.1),
 librust-encase-0.12+default-dev,
 librust-glam-0.30+std-dev,
 librust-glam-0.30-dev,
 librust-matrixcompare-core-0.1+default-dev,
 librust-mint-0.5+default-dev,
 librust-nalgebra-macros-0.3+default-dev,
 librust-num-complex-0.4+bytemuck-dev,
 librust-num-complex-0.4+serde-dev,
 librust-num-complex-0.4+std-dev,
 librust-num-complex-0.4-dev,
 librust-num-rational-0.4+std-dev,
 librust-num-rational-0.4-dev,
 librust-num-traits-0.2+std-dev,
 librust-num-traits-0.2-dev,
 librust-pest-2+default-dev,
 librust-pest-derive-2+default-dev,
 librust-proptest-1+std-dev,
 librust-quickcheck-1+default-dev,
 librust-rayon-1+default-dev (>= 1.6),
 librust-serde-1+derive-dev,
 librust-serde-1+std-dev,
 librust-simba-0.9+libm-dev,
 librust-simba-0.9+libm-force-dev,
 librust-simba-0.9+std-dev,
 librust-simba-0.9-dev,
 librust-typenum-1+default-dev (>= 1.12)
Provides:
 librust-nalgebra+alga-dev (= ${binary:Version}),
 librust-nalgebra+alloc-dev (= ${binary:Version}),
 librust-nalgebra+arbitrary-dev (= ${binary:Version}),
 librust-nalgebra+bytemuck-dev (= ${binary:Version}),
 librust-nalgebra+compare-dev (= ${binary:Version}),
 librust-nalgebra+convert-bytemuck-dev (= ${binary:Version}),
 librust-nalgebra+convert-glam030-dev (= ${binary:Version}),
 librust-nalgebra+convert-mint-dev (= ${binary:Version}),
 librust-nalgebra+debug-dev (= ${binary:Version}),
 librust-nalgebra+default-dev (= ${binary:Version}),
 librust-nalgebra+defmt-dev (= ${binary:Version}),
 librust-nalgebra+encase-dev (= ${binary:Version}),
 librust-nalgebra+glam030-dev (= ${binary:Version}),
 librust-nalgebra+io-dev (= ${binary:Version}),
 librust-nalgebra+libm-dev (= ${binary:Version}),
 librust-nalgebra+libm-force-dev (= ${binary:Version}),
 librust-nalgebra+macros-dev (= ${binary:Version}),
 librust-nalgebra+matrixcompare-core-dev (= ${binary:Version}),
 librust-nalgebra+matrixmultiply-dev (= ${binary:Version}),
 librust-nalgebra+mint-dev (= ${binary:Version}),
 librust-nalgebra+nalgebra-macros-dev (= ${binary:Version}),
 librust-nalgebra+pest-dev (= ${binary:Version}),
 librust-nalgebra+pest-derive-dev (= ${binary:Version}),
 librust-nalgebra+proptest-dev (= ${binary:Version}),
 librust-nalgebra+proptest-support-dev (= ${binary:Version}),
 librust-nalgebra+quickcheck-dev (= ${binary:Version}),
 librust-nalgebra+rand-dev (= ${binary:Version}),
 librust-nalgebra+rand-no-std-dev (= ${binary:Version}),
 librust-nalgebra+rand-package-dev (= ${binary:Version}),
 librust-nalgebra+rand-distr-dev (= ${binary:Version}),
 librust-nalgebra+rayon-dev (= ${binary:Version}),
 librust-nalgebra+serde-dev (= ${binary:Version}),
 librust-nalgebra+serde-serialize-dev (= ${binary:Version}),
 librust-nalgebra+serde-serialize-no-std-dev (= ${binary:Version}),
 librust-nalgebra+slow-tests-dev (= ${binary:Version}),
 librust-nalgebra+sparse-dev (= ${binary:Version}),
 librust-nalgebra+std-dev (= ${binary:Version}),
 librust-nalgebra-0-dev (= ${binary:Version}),
 librust-nalgebra-0+alga-dev (= ${binary:Version}),
 librust-nalgebra-0+alloc-dev (= ${binary:Version}),
 librust-nalgebra-0+arbitrary-dev (= ${binary:Version}),
 librust-nalgebra-0+bytemuck-dev (= ${binary:Version}),
 librust-nalgebra-0+compare-dev (= ${binary:Version}),
 librust-nalgebra-0+convert-bytemuck-dev (= ${binary:Version}),
 librust-nalgebra-0+convert-glam030-dev (= ${binary:Version}),
 librust-nalgebra-0+convert-mint-dev (= ${binary:Version}),
 librust-nalgebra-0+debug-dev (= ${binary:Version}),
 librust-nalgebra-0+default-dev (= ${binary:Version}),
 librust-nalgebra-0+defmt-dev (= ${binary:Version}),
 librust-nalgebra-0+encase-dev (= ${binary:Version}),
 librust-nalgebra-0+glam030-dev (= ${binary:Version}),
 librust-nalgebra-0+io-dev (= ${binary:Version}),
 librust-nalgebra-0+libm-dev (= ${binary:Version}),
 librust-nalgebra-0+libm-force-dev (= ${binary:Version}),
 librust-nalgebra-0+macros-dev (= ${binary:Version}),
 librust-nalgebra-0+matrixcompare-core-dev (= ${binary:Version}),
 librust-nalgebra-0+matrixmultiply-dev (= ${binary:Version}),
 librust-nalgebra-0+mint-dev (= ${binary:Version}),
 librust-nalgebra-0+nalgebra-macros-dev (= ${binary:Version}),
 librust-nalgebra-0+pest-dev (= ${binary:Version}),
 librust-nalgebra-0+pest-derive-dev (= ${binary:Version}),
 librust-nalgebra-0+proptest-dev (= ${binary:Version}),
 librust-nalgebra-0+proptest-support-dev (= ${binary:Version}),
 librust-nalgebra-0+quickcheck-dev (= ${binary:Version}),
 librust-nalgebra-0+rand-dev (= ${binary:Version}),
 librust-nalgebra-0+rand-no-std-dev (= ${binary:Version}),
 librust-nalgebra-0+rand-package-dev (= ${binary:Version}),
 librust-nalgebra-0+rand-distr-dev (= ${binary:Version}),
 librust-nalgebra-0+rayon-dev (= ${binary:Version}),
 librust-nalgebra-0+serde-dev (= ${binary:Version}),
 librust-nalgebra-0+serde-serialize-dev (= ${binary:Version}),
 librust-nalgebra-0+serde-serialize-no-std-dev (= ${binary:Version}),
 librust-nalgebra-0+slow-tests-dev (= ${binary:Version}),
 librust-nalgebra-0+sparse-dev (= ${binary:Version}),
 librust-nalgebra-0+std-dev (= ${binary:Version}),
 librust-nalgebra-0.34-dev (= ${binary:Version}),
 librust-nalgebra-0.34+alga-dev (= ${binary:Version}),
 librust-nalgebra-0.34+alloc-dev (= ${binary:Version}),
 librust-nalgebra-0.34+arbitrary-dev (= ${binary:Version}),
 librust-nalgebra-0.34+bytemuck-dev (= ${binary:Version}),
 librust-nalgebra-0.34+compare-dev (= ${binary:Version}),
 librust-nalgebra-0.34+convert-bytemuck-dev (= ${binary:Version}),
 librust-nalgebra-0.34+convert-glam030-dev (= ${binary:Version}),
 librust-nalgebra-0.34+convert-mint-dev (= ${binary:Version}),
 librust-nalgebra-0.34+debug-dev (= ${binary:Version}),
 librust-nalgebra-0.34+default-dev (= ${binary:Version}),
 librust-nalgebra-0.34+defmt-dev (= ${binary:Version}),
 librust-nalgebra-0.34+encase-dev (= ${binary:Version}),
 librust-nalgebra-0.34+glam030-dev (= ${binary:Version}),
 librust-nalgebra-0.34+io-dev (= ${binary:Version}),
 librust-nalgebra-0.34+libm-dev (= ${binary:Version}),
 librust-nalgebra-0.34+libm-force-dev (= ${binary:Version}),
 librust-nalgebra-0.34+macros-dev (= ${binary:Version}),
 librust-nalgebra-0.34+matrixcompare-core-dev (= ${binary:Version}),
 librust-nalgebra-0.34+matrixmultiply-dev (= ${binary:Version}),
 librust-nalgebra-0.34+mint-dev (= ${binary:Version}),
 librust-nalgebra-0.34+nalgebra-macros-dev (= ${binary:Version}),
 librust-nalgebra-0.34+pest-dev (= ${binary:Version}),
 librust-nalgebra-0.34+pest-derive-dev (= ${binary:Version}),
 librust-nalgebra-0.34+proptest-dev (= ${binary:Version}),
 librust-nalgebra-0.34+proptest-support-dev (= ${binary:Version}),
 librust-nalgebra-0.34+quickcheck-dev (= ${binary:Version}),
 librust-nalgebra-0.34+rand-dev (= ${binary:Version}),
 librust-nalgebra-0.34+rand-no-std-dev (= ${binary:Version}),
 librust-nalgebra-0.34+rand-package-dev (= ${binary:Version}),
 librust-nalgebra-0.34+rand-distr-dev (= ${binary:Version}),
 librust-nalgebra-0.34+rayon-dev (= ${binary:Version}),
 librust-nalgebra-0.34+serde-dev (= ${binary:Version}),
 librust-nalgebra-0.34+serde-serialize-dev (= ${binary:Version}),
 librust-nalgebra-0.34+serde-serialize-no-std-dev (= ${binary:Version}),
 librust-nalgebra-0.34+slow-tests-dev (= ${binary:Version}),
 librust-nalgebra-0.34+sparse-dev (= ${binary:Version}),
 librust-nalgebra-0.34+std-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+alga-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+alloc-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+arbitrary-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+bytemuck-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+compare-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+convert-bytemuck-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+convert-glam030-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+convert-mint-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+debug-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+default-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+defmt-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+encase-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+glam030-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+io-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+libm-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+libm-force-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+macros-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+matrixcompare-core-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+matrixmultiply-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+mint-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+nalgebra-macros-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+pest-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+pest-derive-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+proptest-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+proptest-support-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+quickcheck-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+rand-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+rand-no-std-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+rand-package-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+rand-distr-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+rayon-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+serde-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+serde-serialize-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+serde-serialize-no-std-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+slow-tests-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+sparse-dev (= ${binary:Version}),
 librust-nalgebra-0.34.1+std-dev (= ${binary:Version})
Description: General-purpose linear algebra library - Rust source code
 Source code for Debianized Rust crate "nalgebra"
