Source: rust-rustc-hash
Section: rust
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-byteorder-1+default-dev (>= 1.1) <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 Darren Chang <darrenchang951@gmail.com>
Standards-Version: 4.7.3
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/rustc-hash]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/rustc-hash
Homepage: https://github.com/rust-lang-nursery/rustc-hash
X-Cargo-Crate: rustc-hash
X-Cargo-Crate-Version: 1.0.1

Package: librust-rustc-hash-1.0-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-byteorder-1+default-dev (>= 1.1)
Provides:
 librust-rustc-hash-1.0-dev (= ${binary:Version}),
 librust-rustc-hash-1.0+default-dev (= ${binary:Version}),
 librust-rustc-hash-1.0.1-dev (= ${binary:Version}),
 librust-rustc-hash-1.0.1+default-dev (= ${binary:Version})
Description: Speed, non-cryptographic hash used in rustc - Rust source code
 Source code for Debianized Rust crate "rustc-hash"
